@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

.corverde {
  color: #7ed957;
  text-align: center;
  color: #7ED957;
  animation: neon 1s ease-in-out infinite alternate;
}

.titulofrase {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  margin-left: 3rem;
  color: #ffffff;
  font-size: 3rem;
  width: 20rem;
  margin-top: 3rem;
}





