body{
  background-color: black;
  background-repeat: no-repeat;

}

.imagemrodrigo{
  width: 24rem;
  margin-top: 5rem;
  margin-right: 15rem;
}

.divmeio{
  display: flex;
  justify-content: space-between;
}

