body{
  background-image: url("./plano-de-fundo.svg");
  background-repeat: no-repeat;

}

.imagemrodrigo{
  width: 24rem;
  margin-top: 5rem;
  margin-right: 5rem;
}

.divmeio{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divicone{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 0.5rem;
  margin-right: 5rem;
}